<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
		  <behavior name="singletonBehavior">
			  <serviceMetadata httpGetEnabled="true" />
			  <serviceDebug includeExceptionDetailInFaults="true" />
		  </behavior>
      </serviceBehaviors>
    </behaviors>
	  <!---->
	  <bindings>
		  <netTcpBinding>
			  <binding>
				  <security mode="None">
					  <message clientCredentialType="None"/>
					  <transport clientCredentialType="None"/>
				  </security>
			  </binding>
		  </netTcpBinding>
	  </bindings>
	  <!---->
	<services>
      <service behaviorConfiguration="singletonBehavior" name="TimbiricheService.UserManagerService">
        <endpoint address="UserManagerService" binding="netTcpBinding" 
				  bindingConfiguration="" contract="TimbiricheService.IUserManager" />
        <endpoint address="UserManagerService" binding="netTcpBinding" 
				  bindingConfiguration="" contract="TimbiricheService.IOnlineUsersManager" />
		<endpoint address="UserManagerService" binding="netTcpBinding"
				  bindingConfiguration="" contract="TimbiricheService.IPasswordReset" />
		<endpoint address="UserManagerService" binding="netTcpBinding"
				  bindingConfiguration="" contract="TimbiricheService.ILobbyManager" />
		<endpoint address="UserManagerService" binding="netTcpBinding"
				  bindingConfiguration="" contract="TimbiricheService.IMatchManager" />
		<endpoint address="UserManagerService" binding="netTcpBinding"
				  bindingConfiguration="" contract="TimbiricheService.IEmailVerificationManager" />
		<endpoint address="UserManagerService" binding="netTcpBinding"
		          bindingConfiguration="" contract="TimbiricheService.IPlayerCustomizationManager" />
		<endpoint address="UserManagerService" binding="netTcpBinding"
		          bindingConfiguration="" contract="TimbiricheService.IPlayerColorsManager" />
		<endpoint address="UserManagerService" binding="netTcpBinding"
		          bindingConfiguration="" contract="TimbiricheService.IInvitationManager" />
		<endpoint address="UserManagerService" binding="netTcpBinding"
				  bindingConfiguration="" contract="TimbiricheService.IPlayerStylesManager"/>
		<endpoint address="UserManagerService" binding="netTcpBinding"
				  bindingConfiguration="" contract="TimbiricheService.IFriendshipManager"/>
		<endpoint address="UserManagerService" binding="netTcpBinding"
				  bindingConfiguration="" contract="TimbiricheService.IFriendRequestManager"/>
		<endpoint address="UserManagerService" binding="netTcpBinding"
				  bindingConfiguration="" contract="TimbiricheService.IBanManager"/>
		<host>
          <baseAddresses>
            <add baseAddress="http://192.168.102.184:8082" />
            <add baseAddress="net.tcp://192.168.102.184:8081" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
	<connectionStrings configSource="connections.config">
		  <!--
	    <add name="TimbiricheDBEntities" connectionString="metadata=res://*/TimbiricheModel.csdl|res://*/TimbiricheModel.ssdl|res://*/TimbiricheModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=TimbiricheDB;user id=UserTimbiriche;password=timbiriche;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		
	-->
	</connectionStrings>
</configuration>