<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
		  <behavior name="singletonBehavior">
			  <serviceMetadata httpGetEnabled="true" />
			  <serviceDebug includeExceptionDetailInFaults="true" />
		  </behavior>
      </serviceBehaviors>
    </behaviors>

	  <bindings>
		  <netTcpBinding>
			  <binding>
				  <security mode="None">
					  <message clientCredentialType="None"/>
					  <transport clientCredentialType="None"/>
				  </security>
			  </binding>
		  </netTcpBinding>
	  </bindings>
	  
	<services>
      <service behaviorConfiguration="singletonBehavior" name="TimbiricheService.UserManagerService">
        <endpoint address="UserManagerService" binding="netTcpBinding" bindingConfiguration="" contract="TimbiricheService.IUserManager" />
        <endpoint address="UserManagerService" binding="netTcpBinding" bindingConfiguration="" contract="TimbiricheService.IOnlineUsersManager" />
		<endpoint address="UserManagerService" binding="netTcpBinding" bindingConfiguration="" contract="TimbiricheService.IPasswordReset" />
		<endpoint address="UserManagerService" binding="netTcpBinding" bindingConfiguration="" contract="TimbiricheService.ILobbyManager" />
		<endpoint address="UserManagerService" binding="netTcpBinding" bindingConfiguration="" contract="TimbiricheService.IMatchManager" />
		<endpoint address="UserManagerService" binding="netTcpBinding" bindingConfiguration="" contract="TimbiricheService.IEmailVerificationManager" />
		<endpoint address="UserManagerService" binding="netTcpBinding" bindingConfiguration="" contract="TimbiricheService.IPlayerCustomizationManager" />
		<endpoint address="UserManagerService" binding="netTcpBinding" bindingConfiguration="" contract="TimbiricheService.IPlayerColorsManager" />
		<endpoint address="UserManagerService" binding="netTcpBinding" bindingConfiguration="" contract="TimbiricheService.IInvitationManager" />
		<endpoint address="UserManagerService" binding="netTcpBinding" bindingConfiguration="" contract="TimbiricheService.IPlayerStylesManager" />
		<endpoint address="UserManagerService" binding="netTcpBinding" bindingConfiguration="" contract="TimbiricheService.IFriendshipManager" />
		<endpoint address="UserManagerService" binding="netTcpBinding" bindingConfiguration="" contract="TimbiricheService.IFriendRequestManager" />
		<endpoint address="UserManagerService" binding="netTcpBinding" bindingConfiguration="" contract="TimbiricheService.IBanManager" />
		<endpoint address="UserManagerService" binding="netTcpBinding" bindingConfiguration="" contract="TimbiricheService.IBanVerifierManager" />
		<endpoint address="UserManagerService" binding="netTcpBinding" bindingConfiguration="" contract="TimbiricheService.ILobbyExistenceChecker" />
		<endpoint address="UserManagerService" binding="netTcpBinding" bindingConfiguration="" contract="TimbiricheService.IScoreboardManager" />
		<endpoint address="UserManagerService" binding="netTcpBinding" bindingConfiguration="" contract="TimbiricheService.IGlobalScoreManager" />
		<endpoint address="UserManagerService" binding="netTcpBinding" bindingConfiguration="" contract="TimbiricheService.IShopManager" />
		<endpoint address="UserManagerService" binding="netTcpBinding" bindingConfiguration="" contract="TimbiricheService.IRematchManager" />

	    <host>
          <baseAddresses>
            <add baseAddress="http://172.20.10.12:8082" />
            <add baseAddress="net.tcp://172.20.10.12:8081" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
	<connectionStrings configSource="connections.config">
	</connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>