<connectionStrings>
	<add name="TimbiricheDBEntities" connectionString="metadata=res://*/TimbiricheModel.csdl|res://*/TimbiricheModel.ssdl|res://*/TimbiricheModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=TimbiricheDB;user id=UserTimbiriche;password=timbiriche;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>