<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IInvitationManager">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IUserManager">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IOnlineUsersManager">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IPasswordReset">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_ILobbyManager">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IMatchManager">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IEmailVerificationManager">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IPlayerCustomizationManager">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IPlayerColorsManager">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IInvitationManager1">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IPlayerStylesManager">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IFriendRequestManager">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IFriendshipManager">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8081/UserManagerService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IUserManager" contract="Server.IUserManager" name="NetTcpBinding_IUserManager">
                <identity>
                    <userPrincipalName value="USUARIO-JS8U5M9\Cesar" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8081/UserManagerService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IOnlineUsersManager" contract="Server.IOnlineUsersManager" name="NetTcpBinding_IOnlineUsersManager">
                <identity>
                    <userPrincipalName value="USUARIO-JS8U5M9\Cesar" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8081/UserManagerService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IPasswordReset" contract="Server.IPasswordReset" name="NetTcpBinding_IPasswordReset">
                <identity>
                    <userPrincipalName value="USUARIO-JS8U5M9\Cesar" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8081/UserManagerService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ILobbyManager" contract="Server.ILobbyManager" name="NetTcpBinding_ILobbyManager">
                <identity>
                    <userPrincipalName value="USUARIO-JS8U5M9\Cesar" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8081/UserManagerService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IMatchManager" contract="Server.IMatchManager" name="NetTcpBinding_IMatchManager">
                <identity>
                    <userPrincipalName value="USUARIO-JS8U5M9\Cesar" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8081/UserManagerService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IEmailVerificationManager" contract="Server.IEmailVerificationManager" name="NetTcpBinding_IEmailVerificationManager">
                <identity>
                    <userPrincipalName value="USUARIO-JS8U5M9\Cesar" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8081/UserManagerService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IPlayerCustomizationManager" contract="Server.IPlayerCustomizationManager" name="NetTcpBinding_IPlayerCustomizationManager">
                <identity>
                    <userPrincipalName value="USUARIO-JS8U5M9\Cesar" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8081/UserManagerService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IPlayerColorsManager" contract="Server.IPlayerColorsManager" name="NetTcpBinding_IPlayerColorsManager">
                <identity>
                    <userPrincipalName value="USUARIO-JS8U5M9\Cesar" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8081/UserManagerService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IInvitationManager1" contract="Server.IInvitationManager" name="NetTcpBinding_IInvitationManager">
                <identity>
                    <userPrincipalName value="USUARIO-JS8U5M9\Cesar" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8081/UserManagerService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IPlayerStylesManager" contract="Server.IPlayerStylesManager" name="NetTcpBinding_IPlayerStylesManager">
                <identity>
                    <userPrincipalName value="USUARIO-JS8U5M9\Cesar" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8081/UserManagerService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IFriendshipManager" contract="Server.IFriendshipManager" name="NetTcpBinding_IFriendshipManager">
                <identity>
                    <userPrincipalName value="LAPTOP-HHJQVNMN\egd17" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8081/UserManagerService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IFriendRequestManager" contract="Server.IFriendRequestManager" name="NetTcpBinding_IFriendRequestManager">
                <identity>
                    <userPrincipalName value="LAPTOP-HHJQVNMN\egd17" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>