<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IUserManager">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8081/UserManagerService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IUserManager"
                contract="Servidor.IUserManager" name="NetTcpBinding_IUserManager">
                <identity>
                    <userPrincipalName value="LAPTOP-HHJQVNMN\egd17" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>