<connectionStrings>
	<add name="TimbiricheDBEntities" connectionString="metadata=res://*/TimbiricheModel.csdl|res://*/TimbiricheModel.ssdl|res://*/TimbiricheModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.80;initial catalog=TimbiricheDB;user id=Cesarele23;password=102005Xcc;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>